.mission-card {
  background: rgba(24, 26, 37, 0.5);
  border: 1px solid white;
  border-radius: 17px;
  flex-basis: 20%;
  flex-grow: 1;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  margin: 5px 0;
  padding: 20px;
}

hr {
  margin-bottom: 15px;
}

.mission-card:hover {
  background: rgba(52, 55, 67, 0.8);
}

.selected {
  background: rgba(52, 55, 67, 0.8);
  box-shadow: 0 0 15px white;
}

@media screen and (max-width: 750px) {
  .mission-card {
    flex-basis: 90%;
    flex-grow: 1;
    margin: 0;
  }
}
