.planet-card {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.planet-img {
  width: 80%;
}

/* .planet-img:nth-of-type( 1 ) {
  width: 10em;
} */
