.planet-card {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-weight: 400;
  justify-content: flex-end;
  line-height: 150%;
}

.planet-img {
  margin: auto;
  width: 95%;
  cursor: url('./cursor.png'), auto;
}

.planet-img:hover {
  transform: scale(1.15);
  cursor: url('./cursor.png'), auto;
}
