.solar-system-container {
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.planets-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 50px;
}
