* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

body {
  background-image: url('./images/background.png');
}

footer {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 20px;
  text-align: center;
}
